<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color:rgb(117, 13, 201)"><marquee>welcome to dhoni html page</h1></marquee>
        <p style="color:rgb(18, 140, 178)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error dolores laudantium beatae, ullam assumenda nulla itaque perferendis, quia hic quibusdam quisquam, nemo rem cum asperiores doloribus placeat voluptate animi.
        </p>
        <a href="{% url 'MI:rohit' %}">navigate to rohit html page</a>
    </center>
</body>
</html>