<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color:orange"><marquee>welcome to rohit html page</h1></marquee>
        <p style="color: rgb(15, 2, 2);">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error dolores laudantium beatae, ullam assumenda nulla itaque perferendis, quia hic quibusdam quisquam, nemo rem cum asperiores doloribus placeat voluptate animi.
        </p>
        <a href="{% url 'CSK:dhoni' %}">navigate to dhoni html page</a>
    </center>
</body>
</html>